body {
  font-family: sans-serif;
  border: 5px grey solid;
  padding: 40px;
}

/* #blockedUser {
  color: black;
} */

.alert {
  color: yellow;
  font-size: 32px;
  background-color: red;
}

a {
  color: #008000;
}

.d-flex {
  display: flex;
  justify-content: space-evenly;
}

hr {
  margin-bottom: 50px;
  margin-top: 50px;
}